<h2>Votar por el juego del año</h2>
<hr />

<div class="row">
  <div class="col">
    <div class="card-group">
      <div class="card bg-dark" *ngFor="let item of games">
        <img [src]="item.url" class="card-img-top img" [alt]="item.name" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Click aquí para votar por el juego</p>
        </div>
        <div class="card-footer">
          <button (click)="voteGame(item.id)" class="btn btn-outline-primary">
            Votar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
